preguntas.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE questions [
<!ELEMENT questions (question)+>
<!ELEMENT question (type,number,date,text,select,answer)>
<!ATTLIST question id ID #REQUIRED>
<!ELEMENT type (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT select (#PCDATA)>
<!ELEMENT answer (#PCDATA)>
]>
